@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/Pru33qjShpZSmG3z6VYwnT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
.title-styles {
    text-align: center;
}
.logo {
    height: auto;
    width: 300px;
    justify-content: end;
    border: white solid 2px;
}
.intro {
    background-color: white;
}
.hey {
    font-size: 21px;
    padding-left: 30px;
}
.karina {
    font-size: 60px;
    font-weight: 700;
    padding-left: 80px;
}
.about {
    font-size: 16px;
}
*{
    background-color: rgb(24, 78, 128);
    font-family: 'Roboto';
    /*border: 2px red solid;*/
}
.container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    flex-wrap: wrap;
    gap: 8px;
}
.container div a{
    padding: 10px 15px;
    background-color: gray;
    border-radius: 5px;;
    /*margin: 8px;*/
}
a {
    text-decoration: none;
    color: black;
}
.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
}
.intro-paragraph {
    /*margin-left: -50px;*/
    /*margin-right: 20px;*/
    background-color: white;
}
.intro {
    margin: 10px;
}
.socials img{
    height:30px;
    width: auto;
    margin: 7px;
    border: 2px;
    border-color: white;
}
.social-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid black 1px;
    margin-right: 10px;
    min-height: 442px;
}
.socials {
    /*border: 2px solid red;*/
    align-self: center
}
.extra-space {
    height: 30px;
    /*border: 2px solid red;*/
}
.box {
    height:150px;
    width:150px;
    border: black solid 2px;
    border-radius: 20px;
}
.project-container {
    display: flex;
    gap: 15px;
    justify-content: center;
}
.skill-icon {
    height: 30px;
    width: 30px;
    border: black solid 2px;
    border-radius:5px;
}
.skills-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}