.title-styles {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.logo {
    height: auto;
    width: 300px;
    justify-content: end;
    border: white solid 2px;
}
.intro {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}
.hey {
    font-size: 21px;
    padding-left: 30px;
}
.karina {
    font-size: 60px;
    font-weight: 700;
    padding-left: 80px;
}
.about {
    font-size: 16px;
}
*{
    background-color: rgb(24, 78, 128);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*border: 2px red solid;*/
}
ul {
    display: flex;
    list-style: none;
    border: 5px solid black;
    justify-content: center;
}
li {
    padding: 0px;
    height: 30px;
    width: 120px;
    background-color: gray;
}
.container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
div a{
    padding: 10px 15px;
    background-color: gray;
    margin: 8px;
}
.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-paragraph {
    margin-left: -50px;
    margin-right: 20px;
    background-color: white;
}
.intro {
    margin: 10px;
}